.weekly-forecast-row {
  margin-bottom: 16px;
  width: 280px;
  display: grid;
  grid-template-columns: 100px 30px 50px 62px;
  justify-content: space-between;

  .temperature-container {
    display: flex;
    flex-direction: column;
  }

  .summary-text {
    text-align: right;
  }
}
