<mat-toolbar class="toolbar" color="primary">
  <div>Weather application 🍕</div>
  <div class="settings-button">
    <mat-icon (click)="onThemeChange()">color_lens</mat-icon>
    <mat-icon (click)="onSettingsButtonClick()">settings</mat-icon>
  </div>
</mat-toolbar>
<div class="container">
  <h2>Current tasks</h2>
  <h4>Total: {{length}}</h4>
  <button (click)="onAdditionClick()" color="accent" mat-mini-fab>
    <mat-icon>add</mat-icon>
  </button>
  <div *ngIf="isTaskFormShown">
    <mat-card>
      <app-item-form (added)="addElement($event)" (canceled)="isTaskFormShown=false"
                     [item]="editItem"></app-item-form>
    </mat-card>
  </div>
  <div *ngIf="!isTaskFormShown">
    <mat-card *ngFor="let task of tasks | async" class="text">
      <mat-card-title>{{task.name}}</mat-card-title>
      <mat-card-subtitle>{{task.date.seconds * 1000 | date: "dd.MM.y hh:mm:ss"}}</mat-card-subtitle>
      <mat-card-content>
        <ul>
          <li>
            {{task.text}}
          </li>
        </ul>
      </mat-card-content>
      <mat-card-actions *ngIf="!isTaskFormShown">
        <button (click)="onDeleteClick(task.taskId)" color="accent" mat-mini-fab>
          <mat-icon>delete</mat-icon>
        </button>
        <button (click)="onEditClick(task)" color="accent" mat-mini-fab>
          <mat-icon>edit</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
