<mat-toolbar>
  <span>Weather application</span>
</mat-toolbar>
<div class="container">
  <h2>Current tasks</h2>
  <h4>Total: {{length}}</h4>
  <button (click)="isAddingItemEnabled=true" color="accent" mat-mini-fab>
    <mat-icon>add</mat-icon>
  </button>
  <div *ngIf="isAddingItemEnabled">
    <mat-card>
      <app-item-form (added)="addElement($event)" (canceled)="isAddingItemEnabled=false"></app-item-form>
    </mat-card>
  </div>
  <div *ngIf="!isAddingItemEnabled">
    <mat-card *ngFor="let item of items | async" class="text">
      <mat-card-title>{{item.name}}</mat-card-title>
      <mat-card-subtitle>{{convertToDate(item.date.seconds) | date:'dd/MM/yyyy'}}</mat-card-subtitle>
      <mat-card-content>
        <ul>
          <li>
            {{item.text}}
          </li>
        </ul>
      </mat-card-content>
      <mat-card-actions *ngIf="!isAddingItemEnabled">
        <button (click)="onDeleteClick()" color="accent" mat-mini-fab>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
